<!-- Меню создания бота -->
<div class="modal fade" id="createMenu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="modal-content p-3">
            <div class="modal-header justify-content-center">
                <h3 class="modal-title" id="exampleModalLabel">Меню создания</h3>
            </div>
            <fieldset>
                <h5>Название:</h5>
                <input class="form form-control" type="text" name="text" id="botName" required />
                <h5>Токен:</h5>
                <input class="form form-control" type="text" name="text" id="botToken" required />
            </fieldset>
            <div class="modal-footer mt-2">
                <button type="button" class="btn btn-success">Создать чат-бот</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отмена</button>
            </div>
        </form>
    </div>
</div>

<!-- Меню редактирования бота -->
<div class="modal fade" id="editMenu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="modal-content p-3">
            <div class="modal-header justify-content-center">
                <h3 class="modal-title" id="exampleModalLabel">Меню редактирования</h3>
            </div>
            <!-- TODO: нужно будет сделать подгрузку названия и токена бота и вставить их в плейсхолдеры -->
            <fieldset>
                <h5>Название:</h5>
                <input class="form form-control" type="text" name="text" id="botName" placeholder="*Текущее имя бота*" required />
                <h5>Токен:</h5>
                <input class="form form-control" type="text" name="text" id="botToken" placeholder="*Текущий токен бота*" required />
            </fieldset>
            <div class="modal-footer mt-2">
                <button type="button" class="btn btn-success">Редактировать чат-бот</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отмена</button>
            </div>
        </form>
    </div>
</div>

<!-- Меню удаления бота -->
<div class="modal fade" id="deleteMenu" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-3">
            <h5 class="modal-title text-center">Вы действительно хотите удалить бота?</h5>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger">Удалить</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="container mt-2">
        <button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#createMenu">
                    Создать чат-бот
            </button>
    </div>
    <!-- При наличии ботов нужно будет показывать данный блок -->
    <div class="container">
        <%if (bots){%>
            <h3 class="mt-2">Ваши чат-боты: </h3>
            <div class="container-fluid d-inline-flex flex-wrap p-0">
                <% for(let bot of bots) {%>
                    <div class="col-6 p-1 ps-0">
                        <div class="container position-relative border border-dark rounded">
                            <button class="btn btn-secondary dropdown-toggle position-absolute end-0 top-0 visually-hidden" type="button" id="<%-bot.id%>" data-bs-toggle="dropdown" aria-expanded="false">
                    </button>
                            <label class="btn position-absolute end-0 top-0 mt-2 me-2" for="<%-bot.id%>"><h2 class="fw-bold"> &#8942;</h2> </label>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editMenu">Изменить название или токен</button></li>
                                <li><button class="alert-danger dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteMenu">Удалить чат-бот</button></li>
                            </ul>
                            <div class="row mt-2">
                                <h5>Название чат-бота:</h5>
                                <p class="fw-weight-light">
                                    <%=bot.name%>
                                </p>
                            </div>
                            <div class="row mt-2 mb-5">
                                <h5>Токен чат-бота:</h5>
                                <div class="col-12">
                                    <p class="fw-weight-light">
                                        <%=bot.token%>
                                    </p>
                                </div>
                            </div>
                            <a class="btn btn-outline-secondary position-absolute end-0 bottom-0 m-1" type="button" href="/learning/<%= bot.id%>">Обучиние чат-бота</a>
                        </div>
                    </div>
                    <%}}else {%>
                        <h3 class="mt-2">У вас пока не чат-ботов</h3>
                        <%}%>
            </div>
    </div>
</div>
<script src="../scripts/script.js"></script>